
/* General vars*/

$yellow: #ffc73e;
$lighter: #fafbfd;
$gray: #4b4b4b;
$gray-light: #e1e1e1;
$darker: #4b4b4b;

/* Media Queries */
$desktop: 700px;

/* Base files. */
@import "base/font";
@import "base/base";
@import "base/layout";



