// Fonts
//––––––––––––––––––––––––––––––––––––––––––––––––––

@font-face {

    font-family: 'avenir-next-regular';
    src: url("./fonts/avenir_next/avenir-next-regular.ttf") format("truetype");
    
 }

 @font-face {

    font-family: 'avenir-next-bold';
    src: url("./fonts/avenir_next/avenir-next-bold.ttf") format("truetype");

 }

// Primary Fonts
$font-main: 'avenir-next-regular', sans-serif;
$font-main-bold: 'avenir-next-bold', sans-serif;